# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore serverbin folder
serverbin

# Ignore the resources folder
resources
# Ignore the tokens folder
**tokens
